<html>

<head>
    <title>ПР3</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style.css">
    <script src="style.js"></script>


</head>

<body class="container">
    <div class="split left">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <h1><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarText"
             aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
             ГЛАВНОЕ МЕНЮ
             <span class="navbar-toggler-icon"></span>
            </button></h1>
            <h2><div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto nb-2 nb-lg-8">
                    <li class="nav-item">
                        <a class="nav-link" href="https://mail.ru">На сайт mail.ru</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ya.ru">На сайт ya.ru</a>
                    </li>
                </ul>
            </div></h2>
        </div>
    </nav>

    <div class="row">
        <div class="my-left d-none d-lg-block col-3">
            <span class="badge text-bg-info"><h4>Профессия полицейский</span> - одна из самых важных и востребованных в
            любом государстве. Для работы в полиции
            необходимо не только быть в хорошей физической форме, но и разбираться в тонкостях законодательства.</h4>

            <h3>
            <img style="border-radius: 25px; width: 10%" src="https://sun9-50.userapi.com/impg/JPMsq4-6Q6F_q04biO6Dytt0JPzoeU72mwWl0g/3EkDqOpPQDY.jpg?size=1200x822&quality=96&sign=2920794a0481e842460afc9236afb197&c_uniq_tag=u7oj5UcuE1Sp9Vj9upqP-oUl3VHRrC0Q2RcBa0sd8n8&type=album">
            </h3>
            
             <h5>Рассказываем об этой профессии</h5>
            
            
            <li>
                Специализации.
                В структуре МВД есть криминальная полиция и полиция общественной безопасности, которые имеют множество
                подразделений. В этих подразделениях работают представители разных полицейских профессий. В криминальной
                несут службу оперативные работники, следователи, криминалисты.
            
            </li>
            <li>
                Востребованность. Стражи порядка нужны всегда, в любом городе и населенном пункте.
                Ранний выход на пенсию. Стаж считается с первого курса обучения в профильном вузе, на пенсию по выслуге
                лет
                уходят после 20 лет службы.
            </li>
            <h6>Это тяжелая работа, сопряженная с риском, но я ее невероятно любил. К сожалению, по некоторым причинам мне
            пришлось повесить форму на гвоздь, но я до сих пор с восхищением вспоминаю годы своей работы в МВД.</h6>
        </div>
        <div class="my-content col-12 col-lg-9">
        </div>
        <div class="split right">
            <div class="centered">
            <h5>Практическая работа №3<br>
            <div class="txt-center txt-red">Козлов Максим Сергеевич</div></h5>
            
            <h3><div class="txt-center">44-24-229<br></h3>
                 Хобби:
                 <span class="badge text-bg-info">спорт,</span>
                 <span class="badge text-bg-info">чтение книг</span>
                 <br>
                 Список друзей
                 <table id="table">
                 <thead>
                     <tr>
                        <th scope="col">№</th>
                        <th scope="col">лучший друг</th>
                        <th scope="col">email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 </td>
                        <td>Сергеев Сергей</td>
                        <td>sergeev@mail.ru</td>
                    </tr>
                    
                    <tr>
                        <td>2</td>
                        <td>Иванов Иван</td>
                        <td>ivanov@mail.ru</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Петров Пётр</td>
                        <td>petrov@mail.ru</td>
                    </tr>
                </div>
            </div>
                </tbody>
            </table>
                 
                 
                 <div class="row">
                    <div class="col-3">

                    </div>
                    <div class="col-6">
                        <center>
                        <img id="vert" src="https://static.mk.ru/upload/entities/2019/12/30/22/articles/facebookPicture/43/39/e4/70/9ac32603634197e8e9388914885431fb.jpg" style="width: 20%;">
                        </center>
                    </div>
                </div>
                <br>
                
                Ответьте на вопрос:<br>
                <input class="form-control" value="Что это?"><br>
                <button class="btn btn-success mt-1"
                    onclick="alert('Правильно, это вертолёт')">Проверить</button>
           </div>
        </div>

</body>

</html>