<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1><div class="txt-center">Практическая работа 02</div></h1>
    <div>
        <h3><div class="txt-ramka">Хобби: рисовать, читать, компьютерные игры</div></h3>
        Милейший души человек, усладой мне ваши желанья
        <table>
            <tr>
                <td><img src="https://img.gazeta.ru/files3/34/14989034/59051691-10915089-image-m-34_165-pic_32ratio_900x600-900x600-67347.jpg" width="300px"/></td>
                <td><img src="https://cdnn1.ukraina.ru/img/07e6/0c/02/1041436899_0:206:2905:1840_1920x0_80_0_0_676d15c7dd4e1631648f7eee00d87561.jpg.webp" width="300px"/></td>
            </tr>
            <tr>
                <td><img src="https://ic.pics.livejournal.com/tanjand/44781189/99899304/99899304_original.jpg" width="300px"/></td>
                <td><img src="https://masterpiecer-images.s3.yandex.net/805ffbb875c611ee85824659bdca6a39:upscaled" width="300px"/></td>
            </tr>
        </table>
        <p> <a href="">Обновить</a></p>
        <p>Что вы кушали?</p>
        <input />
        <button>кнопа</button>
        <p><strong> 44-24-230 Беляева Арина</strong></p>
    </div>
</body>
</html>