.txt-center {
    text-align: center;
    text-decoration: underline;
    color: rgb(38, 83, 150);
    font-weight: bold; /* Жирный текст */
}

.txt-under {
    text-decoration: underline;
    color: #555; /* Мягкий цвет */
}

/* Внешние границы таблицы серого цвета толщиной 1px */
table {
    border: 1px solid rgb(53, 40, 54);
    border-collapse: collapse; /* Убираем двойные границы */
    width: 100%; /* Делаем таблицу на всю ширину */
}

/* Границы ячеек первого ряда таблицы */
th {
    border: 1px solid rgb(7, 11, 65);
    background-color: rgb(230, 230, 250); /* Добавляем фоновый цвет */
    padding: 10px; /* Отступы */
}

/* Границы ячеек тела таблицы */
td {
    border: 0.5px solid rgb(53, 53, 58);
    padding: 8px; /* Отступы для содержимого ячеек */
    background-color: #f9f9f9; /* Мягкий фоновый цвет */
}

.txt-purple {
    color: purple;
    text-align: left;
    font-style: italic; /* Курсив */
}

.txt-green {
    color: green;
    text-align: left;
    font-weight: bold; /* Жирный текст */
}

.txt-blue {
    color: blue;
    text-align: left;
}

.txt-pink {
    color: pink;
    text-align: left;
}

.txt-red {
    color: red;
    text-align: left;
    text-transform: uppercase; /* Заглавные буквы */
}

.txt-burlywood {
    color: rgb(38, 83, 150);
    text-align: left;
}

.txt-grey {
    color: rgb(69, 10, 71);
    text-align: left;
    font-weight: lighter; /* Легкий текст */
}

h1 {
    font-size: 2.5em; /* Размер заголовка */
    margin-bottom: 20px; /* Отступ снизу */
}

h3 {
    color: #444; /* Цвет заголовка основного текста */
}

button {
    background-color: rgb(38, 83, 150); /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Без границы */
    padding: 10px 15px; /* Отступы */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Курсор при наведении */
}

button:hover {
    background-color: rgb(28, 63, 110); /* Более темный цвет при наведении */
}
