*{
    margin: 0;
}
main{
    padding: 20px;
}
.head{
    background: #35784d;
    padding: 10px;
    text-align: left;
    color: white;
}

img{
    border-radius: 10px;
    margin: 10px;
    transition: box-shadow 0.3s;
}
img:hover {
    box-shadow: 0 0 15px #4a4646;
}

footer{
    color: white;
    background: #35784d;
    font-size: 18px;
    padding: 20px;
}