<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1><div class="txt-center">Практическая работа 02</div></h1>
    <div>
        <h3><div class="txt-ramka">Хобби: Спать, читать, существовать</div></h3>
        Тут написан текст, но это не точно
        <table>
            <tr>
                <td><img src="https://loremflickr.com/200/200/car?random=1" width="300px"/></td>
                <td><img src="https://loremflickr.com/200/200/sea?random=2" width="300px"/></td>
            </tr>
            <tr>
                <td><img src="https://loremflickr.com/200/200/sport?random=3" width="300px"/></td>
                <td><img src="https://loremflickr.com/200/200/beach?random=4" width="300px"/></td>
            </tr>
        </table>
        <p> <a href="">Обновить</a></p>
        <p>Сколько?</p>
        <input />
        <button>кнопа</button>
        <p><strong> 44-24-999 Котов Андрей</strong></p>
    </div>
</body>
</html>